h1
{
    text-align: center;
}

h5
{
    text-align: center;
}

h3
{
    margin: 20px;
}

.footer-paragraph
{
    text-align: center;
    font-size: x-small;
}

.fah-bar-item-active
{
    background-color: #9bae61;
}

.card-content
{
    margin-bottom: 30em;
}

.table-content
{
    margin-bottom: 10em;
}